if TARGET_MOD_IMX8M_MINI

config SYS_BOARD
	default "mod_imx8m_mini"

config SYS_VENDOR
	default "rbz"

config SYS_CONFIG_NAME
	default "mod_imx8m_mini"

config IMX_CONFIG
	default "board/rbz/mod_imx8m_mini/imximage-8mm.cfg"

endif
